<div class="row">
	<div class="span6 offset3">
		<div class="well pinshow">
			<%= link_to (image_tag @pin.image), pins_path %>
			<p>
			  <%= @pin.description %>
			</p>
			<p>
			<strong>Posted by <%= link_to @pin.user.name, @pin.user %></strong>
			</p>
			<% if current_user == @pin.user %>
				<%= link_to 'Edit', edit_pin_path(@pin), class: "btn btn-mini" %> |
			<% end %>
			<%= link_to 'Back', pins_path, class: "btn btn-mini btn-primary" %>
		</div>
	</div>
</div>

