<div class="footer center footerwrap">
	<small>
		A Web App by <%= link_to "Marc Cyr", "mailto:marcacyr@gmail.com", target: '_blank' %> | <%= link_to "Tumblr", "http://marcacyr.tumblr.com", target: '_blank' %> | 
		<%= link_to "Twitter", "http://twitter.com/marcacyr", target: '_blank' %> | 
		<%= link_to "GitHub", "http://github.com/marcacyr", target: '_blank' %>
	</small>
	<div class="pull-right">
		<small>
		<%= link_to "How it works", works_path %> |
		<%= link_to "About", about_path %> |
		<%= link_to "Contact us", contact_path %>
		</small>
	</div>
</div>
