<div class="navbar navbar-fixed-top opanavbar">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <%= link_to "opinnd", root_path, id: "logo" %>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
      	<ul class="nav">
        </ul>
        <ul class="nav pull-right">
        <% if user_signed_in? %>
            <li class="divider-vertical"></li>
            <li><%= link_to "New +", new_pin_path %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            <li class="divider-vertical"></li>
        </ul>

          <% else %>
          <li class="divider-vertical"></li>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li class="divider-vertical"></li>
          <% end %>
			  </ul>
      </div>
 
    </div>
  </div>
</div>